#-------------------------------------------------------------------------------
# Copyright 2010, 2011. Stephen O'Rouke. The University of Sydney
# 
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
# 
#   http://www.apache.org/licenses/LICENSE-2.0
# 
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# - Contributors
# 	Stephen O'Rourke
# 	Jorge Villalon (CMM)
# 	Ming Liu (AQG)
# 	Rafael A. Calvo
# 	Marco Garcia
#-------------------------------------------------------------------------------
body {
	background: url(../images/bg-dark.gif) repeat;
	margin-top: 0px;
	margin-left: 5%;
	margin-right: 5%;
	font-family: Georgia, Tahoma, "Trebuchet MS", Verdana, serif;
	font-size: 67.5%;
	width: 750px;
}

table {
	border-width: 0px;
	border-style: solid;
	border-collapse: collapse;
}

td,th {
	border-width: 1px;
	border-style: solid;
	padding: 4px;
}

img {
	border: 0px;
}

.spellingError {
	background-color: #FF3333;
	font-weight: bold;
	color: #000000;
}

.grammarError {
	border-bottom: 1px dashed #006800;
}
	
/* ========== icons ========== */
.icon-gloss {
	width: 22px;
	height: 22px;
	background-image: url(../images/icon-g-green.gif);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	cursor: pointer; 
}

.icon-nogloss {
	width: 22px;
	height: 22px;
	background-image: url(../images/icon-g-green-cross.bmp);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	cursor: default; 
}

.icon-waitgloss {
	width: 22px;
	height: 22px;
	background-image: url(../images/icon-g-green-cross.bmp);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	cursor: wait; 
}

/* ========== Flow tool slider ========== */
.icon-distance {
	width: 22px;
	height: 22px;
	background-image: url(../images/icon-broken.gif);
	background-repeat: no-repeat;
	background-position: center;
	display: block;
}

.icon-readability {
	width: 22px;
	height: 22px;
	background-image: url(../images/icon-broken-red.gif);
	background-repeat: no-repeat;
	background-position: center;
	display: block;
}

.icon-none {
	width: 0px;
	height: 12px;
	display: block;
}

/* ========== Header with logo, help, and 'back to parent application' links ========== */
#header {
	background: #ffffff;
	height: 65px;
}

#logo {
	float: left;
}

/* ==========  Navigation ========== */
#nav-top {
	background: #ffffff;
	margin-top: 0px;
	padding: 4px 10px 4px 10px;
	border-bottom: 1px solid #B2D75F;
}

#nav-top a:link, #nav-top a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	text-decoration: underline;
	color: #666666;
}

#nav-top a:hover {
	color: #87A353;
}


#nav-top a.selected {
	text-decoration: none;
	color: #B2D75F;
}

#nav-top img {
	vertical-align: middle;
	padding-left: 3px;
}

#nav-local {
	float: right;
}

#nav-global {
	float: left;
}

/* ==========  Navigation tabs ========== */
#navigation {
	clear: left;
	height: 33px;
	background-color: #FFFFFF;
}

#navigation ul {
	display: inline;
	float: right;
	height: 30px !important;
	height: 35px;
	padding-top: 0px !important;
	padding-top: 8px;
}

#navigation li {
	display: inline;
	background: url(../images/tab-right.gif) top right;
	color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	padding-top: 4px;
	padding-bottom: 2px;
}

#navigation li img {
	margin: 10px;
}

/* ==== Navigation links ==== */
#navigation li a:link {
	text-decoration: none;
	background: url(../images/tab-left.gif) no-repeat 0px -5px;
	color: #cccccc;
	padding: 4px 15px 2px 20px;
	margin-top: 0 !important;
	margin-top: -5px;
}

#navigation li a:visited {
	text-decoration: none;
	background: url(../images/tab-left.gif) no-repeat 0px -5px;
	color: #cccccc;
	padding: 4px 15px 2px 20px;
	margin-top: 0 !important;
	margin-top: -5px;
}

#navigation li a:hover {
	text-decoration: none;
	background: url(../images/tab-left.gif) no-repeat 0px -5px;
	color: #FFFFFF;
	padding: 4px 15px 2px 20px;
	margin-top: 0 !important;
	margin-top: -5px;
}

/* ==== Selected tab ==== */
#navigation li.selected a:visited {
	color: #B2D75F;
}

/* ==== Home (home has no tab - it is singled out visually) ==== */
#navigation li.home {
	background: none;
}

#navigation li.home a:link {
	background: none;
	color: #999999;
}

#navigation li.home a:visited {
	background: none;
	color: #999999;
}

#navigation li.home a:hover {
	background: none;
	color: #B2D75F;
}

#navigation li.home-selected {
	background: none;
	color: #B2D75F;
}

#navigation li.home-selected a:link {
	background: none;
	color: #B2D75F;
}

#navigation li.home-selected a:visited {
	background: none;
	color: #B2D75F;
}

/* ========== Main content section ========== */
#main {
	background: url(../images/bg-light.gif) repeat;
	margin-top: 0 !important;
	margin-top: -19px;
}

#green-bar {
	width: 100%;
	margin: 3px 0 0 0 !important;
	margin: 0;
	background: url(../images/green-bar.gif) repeat-x;
}

/* ==== Trigger questions and instructions ==== */
.trigger {
	background: url(../images/bg-title-shadow.jpg) #FFFFFF repeat-x center
		top;
	width: 670px;
	border: 1.4px solid #999999;
	font-size: 1.4em;
	margin: -2px 0 0 -10px !important;
	margin: -4px 0 0 0;
	padding: 0 0 10px 30px !important;
	padding: 15px 0 5px 30px;
}

.trigger h1 {
	color: #666666;
	font-weight: bold;
	font-size: 1.2em;
	margin-bottom: -8px;
}

.trigger ul {
	font-size: 1em;
	list-style-image: url(../images/bullet-green.gif);
	line-height: 1.6em;
	margin-left: -10px !important;
	margin-left: 30px;
}

.instructions {
	padding: 10px;
	width: 660px;
	padding-left: 0px;
	color: #333333;
	font-size: 1.2em;
}

.instructions ul {
	list-style: none;
	margin-left: -5px !important;
	margin-left: 30px;
}

.instructions li {
	background: url(../images/icon-info.gif) no-repeat top left;
	padding-left: 30px;
}

.stats {
	/* this box is on the home page only.  could come in handy elsewhere in future though */
	background: #FFFFFF repeat-x center top;
	border: 1.4px solid #000000;
	font-size: 1.3em;
	width: 550px;
	margin-left: -10px;
	padding: 10px 0 10px 30px;
}

.stats h1 {
	display: inline;
	font-size: 1em;
	font-weight: bold;
}

/* ==== Document === */
.document {
	width: 96%;
	//background: url(../images/page-width.gif) #FFFFFF repeat-y center;
	background: #FFFFFF repeat-y center;
	margin: 5px 15px 0 20px !important;
	margin: 0px 10px 0 15px;
}

.document .versions {
	font-size: 0.9em;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 19px;
}

.document .versions a {
	text-decoration: none;
	color: #666666;
}

.document .document-text {
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
	padding: 10px 20px 30px 30px;
}

.text {
	font-weight: normal;
}

.text:hover {
	background: #FFFFCC;
	color: #000000;
	font-weight: normal;
}

.text-highlight {
	font-weight: bold;
}

.text-highlight:hover {
	background: #FFFFCC;
	color: #000000;
	font-weight: bold;
}

/* ========== Feedback ========== */
.feedback {
	width: 310px;
	padding: 8px 8px 8px 8px;
	font-size: 1em;
	background: #FFFFFF repeat-y center;
	border: #666666 solid 1px;
	margin: 7px 15px 10px 305px;
}

.feedback legend {
	color: #333333;
	font-size: 1.1em;
	font-weight: bold;
}

.feedback fieldset {
	padding-left: 10px;
}

/* ========== Footer ========== */
#footer {
	font-size: 0.9em;
	color: #FFFFFF;
	text-align: center;
	padding: 10px 5px 10px 5px;
}

/* ==== Footer links ==== */
#footer a:link {
	color: #FFFFFF
}

#footer a:visited {
	color: #FFFFFF
}

#footer a:hover {
	color: #FFFFFF
}
